@import './variables.scss';

.item-wrapper {
    flex:1 0 0;
    min-height: 0px;   
    overflow-y: auto;
    &::-webkit-scrollbar { width:8px; background-color: transparent;}
    &::-webkit-scrollbar-thumb { background-color:$purple100; border-radius: 10px;}

    .item-container {
        margin: -20px 0 0;
        padding: 20px 0;
        max-height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, min(150px));
        grid-template-rows: repeat(2,150px);
        grid-auto-rows: 150px;
        gap: 24px 20px;

        .item {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: $white;
            img { object-fit: cover;}
        }
        .color-selector-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap:22px;
            margin-bottom: 20px;
            .color-selecter {
                flex: 1 0 40px;
                border:0;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            } 
        }
    }
}