@import './variables.scss';

.setting-character {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 75px;

    .select-character-section {
        width: 350px;
        margin: 0 auto;

        .select-character-progress {
            margin: 0 auto 40px;
        }

        .page-desc {
            color: $purple90;
            font-size: 25px;
            font-weight: 700;
            line-height: 34px;
            margin: 0 auto 40px;
        }
    }
}

.character-slider-container {
    width: 350px;
    display: flex;
    flex-direction: column;


    .slider {
        width: calc(50vw + 175px);

        .slider-container {
            width: 100%;
            overflow: scroll;
            scroll-snap-type: x mandatory;  

            &::-webkit-scrollbar { display: none;}

            .slider-wrapper {
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 100px;
                padding-right: 75px;

                .slider-item {
                    width: 350px;
                    height: 520px;
                    scroll-snap-align: center;
                    scroll-margin: 100px;
                }
            }
        }
    }

    .slider-index-container {
        width: 100%;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .slide-index {
            $size: 12px;
            width: $size;
            height: $size;
            border-radius: 50%;
            background-color: $purple20;

            &.active {
                background-color: $purple100;
            }
        }
    }
}